:root {
    --background-color: rgb(89, 111, 184);
    /* --background-color: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png); */
    --temporary-color-1: rgb(218, 124, 18);
    --temporary-color-2: rgb(54, 200, 54);
}

.center {
    margin: auto;
    width: 80%;
    border: 3px transparent;
    padding: 10px;
}

body {
    background: var(--background-color, blue);
    text-align: center;
    margin: auto;
    transform: scale(1);
    position: relative;
    font-size: 25px;
}

#car-block {
    background-color: var(--temporary-color-1, orange);
    margin: auto;
    width: 80%;
    height: 200px;
    position: relative;
    top: 10%;
}

#explanation-block {
    margin: auto;
    background-color: var(--temporary-color-2, orange);
    position: relative;
    width: 80%;
    /* top: 200px; */
}

#cartesian-plane-block {
    margin: auto;
    background-color: var(--temporary-color-1, orange);
    width: 80%;
    height: 300px;
    position: relative;
    /* top: 240px; */
}

#button-block {
    margin: auto;
    background-color: var(--temporary-color-2, orange);
    width: 77.5%;
    position: relative;
    /* top: 560px; */
}

#solution-block {
    margin: auto;
    background-color: var(--temporary-color-1, orange);
    width: 80%;
    position: relative;
    /* top: 600px; */
}